CollectImagesFromETH/config.json
CollectImagesFromETH/Images/
CollectImagesFromETH/log/
CollectImagesFromETH/data/
CollectImagesFromKlaytn/config.json
CollectImagesFromKlaytn/Images/
CollectImagesFromKlaytn/log/
CollectImagesFromKlaytn/data/